<template name="Slides">
    <div id="slides-particles"></div>
    <div class="slides-full-page">
        {{#if chepar}}
            Slide: {{index}}
        {{/if}}
        {{#if equal index 0}}
            <!-- {{> Introduction}} -->
            {{> Intro}}
        {{/if}}
        {{#if equal index 1}}
            {{> WhatAreAccounts}}
        {{/if}}
        {{#if equal index 2}}
            {{> HowToAddAccounts}}
        {{/if}}
        {{#if equal index 3}}
            {{> AddedFeatures1}}
        {{/if}}
        {{#if equal index 4}}
            {{> Outro}}
        {{/if}}
    </div>
</template>
