<template name="Creating2">
    {{#SlideFormat title='How Stuff Works'}}
        {{#SlideParagraph}}
            Meteor searches for all .html, .css, and .js files inside your project and <span class="highlight">bundle</span> them together. No need to link these files!
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            All code inside the server directory is executed inside the <span class="highlight">server</span> only.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            All code inside the client directory is executed inside the <span class="highlight">client</span> only.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Everywhere else is executed on both the <span class="highlight">server</span> and <span class="highlight">client</span>.
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>