<template name="Exercise2">
    {{#SlideFormat title='Exercise!'}}
        {{#SlideParagraph}}
            Now, going back to our chat app, convert it in such a way that it uses <span class="highlight">Collections instead of ReactiveVar</span>.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Try opening a new window and see if it works!
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            To futher verify, connect to your batchmate's chat app and start chatting with each other!
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>