<template name="WhyUseMeteor2">
    {{#FlexCenter}}
        <p class="why-use-meteor-2-message">It is <span class="highlight">universal</span>. Your code works from the client up to the server.</p>
        <p class="why-use-meteor-2-message">It is <span class="highlight">real time</span> out from the box. No need to configure anything wizardly!</p>
        <p class="why-use-meteor-2-message">Write <span class="highlight">less code</span>. Most of the stuff you need for building web applications are taken care for you.</p>
    {{/FlexCenter}}
</template>