<template name="HTMLFile2">
    {{#SlideFormat title="Templates"}}
        {{#SlideParagraph}}
            Contrary to what CMSC 2 had taught you, there is <span class="highlight">no enclosing HTML tag</span>. Head and Body tags are <span class="highlight">separated from each other</span>. And then there are templates.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            This is because Meteor <span class="highlight">takes care of this for you</span>. Before sending a response to a connecting client, Meteor concatenates/bundles these stuff together and sends it to the request.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            You can also separate these tags into different files and it will still work. Very handy for organizing your code!
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>