<template name="JSFile2">
    {{#SlideFormat title="Templates"}}
        {{#SlideParagraph}}
            We import modules that we will use in this file at the top of the code.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            You can think of it like we're importing classes from Java. In this particular example, we are importing <span class="highlight">Template</span> and <span class="highlight">ReactiveVar</span>.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            We can also import HTML! In this example we imported <span class="highlight">./main.html</span>.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Templates have different life cycles. Life Cycles are basically events in your template and performs a particular function when an event occurs. Common examples are <span class="highlight">onCreated</span>, <span class="highlight">onRendered</span>, and <span class="highlight">onDestroyed</span>. 
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            <span class="highlight">onCreated</span> is performed when a template is called, but not yet rendered. This is where you usually set up your reactive variables and other data. 
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            <span class="highlight">onRendered</span> is performed when a template is rendered, meaning the template already exists on the DOM. This is where you can perform DOM-related functions. Useful when using a CSS/JS library! 
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            And lastly, <span class="highlight">onDestroyed</span> is performed when a template is... destroyed. When it is removed from the DOM. 
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>