<template name="ServerClient2">
    {{#SlideFormat title='Server'}}
        {{#SlideParagraph}}
            A server is a machine that <span class="highlight">serves resources</span>. These resources can be anything, from web pages, documents, images, and many more!
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Usually, your web application is hosted in a server.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Notable examples include <span class="highlight">Facebook servers</span>, <span class="highlight">SystemOne servers</span>, and <span class="highlight">my laptop</span> because this presentation is also a resource being served to you. Since you just started your Meteor app, your laptop is also a server!
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>