<template name="Problem">
    {{#SlideFormat title='Problem'}}
        {{#SlideParagraph}}
            Try refreshing the page. Your messages are gone!
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Also, these data are stored in your machine only. They don't get sent to the server!
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            We need to send and save these data to the server so we may retrieve it later and other users may see it.
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>