<template name="Exercise">
    {{#SlideFormat title='Exercise!'}}
        {{#SlideParagraph}}
            For this PAD session, let's build a simple <span class="highlight">chat application</span>!
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            There should be a list of chat messsages with whoever sent it and its message. And there should be a text box for the user's name and message.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            First, <span class="highlight">identify components needed</span> to build this application.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Then build these components one by one. You can use <span class="highlight">ReactiveVar</span> to store your chat data.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Be sure to create an event for sending chat message, and use helpers to display the chat messages.
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>