<template name="HTMLFile4">
    {{#SlideFormat title='Templates'}}
        {{#SlideParagraph}}
            Templates allow you to separate your UI elements into different components, each with their own view and logic.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            For example, in Facebook, your News Feed may be a template/component. Any view and logic concerning the news feed is inside the template.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Each post in the news feed can be a component of its own.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Even the comment section and the comments themselves are components!
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Rendering of templates can be done using <span class="highlight">double curly braces with ></span>. <span class="code">{{|> hello}}</span> is one example.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            To display dynamic data (such as the counter in the generated app), use <span class="highlight">double curly braces</span>. No > symbol. <span class="code">{{|counter}}</span> is one example.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            We can use <span class="highlight">loops</span> and <span class="highlight">conditional statements</span> in our markup!
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>