<template name="Creating">
    {{#SlideFormat title="Creating a Project"}}
        {{#SlideParagraph}}
            First, be sure to have Meteor installed!
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Open up your terminal. Go to a directory of your choice and type <span class="code">meteor create myfirstapp</span>.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Go to the directory of the newly created project with <span class="code">cd myfirstapp</span>.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Let's run our first app. Type <span class="code">meteor</span> and you're good to go!
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Now open up a web browser and visit <span class="code">localhost:3000</span>.
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>