<template name="JSFile3">
    {{#SlideFormat title="Templates"}}
        {{#SlideParagraph}}
            <span class="highlight">Helpers</span> expose your data from your template to the UI. So basically, if we want data to be diplayed on the UI, we need to set up a helper.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            But that's not the only way to send data to the UI. We can also <span class="highlight">send props</span> to templates. This is how we pass data from parent templates to child templates.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            Helpers can take in parameters.
        {{/SlideParagraph}}
        {{#SlideParagraph}}
            You can handle events inside your template in <span class="highlight">events</span>. This is where you will put code when a button is clicked, when a form is submitted, and many more!
        {{/SlideParagraph}}
    {{/SlideFormat}}
</template>